<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data Analytics Jobs!</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
  <!-- CSS -->
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="col-md-12 jumbotron text-center">
    <h1> Placeholder text</h1>
    <div id="sample-metadata" class="panel-body"></div>
  <div id="plot"></div>
  <div class="col-md-6">
      <div id="pie"></div>
  </div>
  <div class="col-md-6">
      <div id="bar-plot"></div>
  </div>
  <div id="map"></div>
  <!-- D3 JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <!-- Plotly JavaScript -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</body>

</html>
